*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url('/img/17024-4k.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

main{
    min-height: 800px;
    display: flex;
}

main > div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.5);
    height: 500px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(5px);
}

h1{
    margin-top: 40px;
}

main > div > a {
    margin: auto;
}


@media (min-width: 600px){
    main > div{
        width: 500px;
    }
}