*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/17024-4k.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

main{
    min-height: 800px;
    display: flex;
}

main > form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.5);
    height: 400px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(5px);
}

h1{
    text-align: center;
    margin-top: 20px;
}

form > label,input{
    width: 70%;
    text-align: center;

}
form > label{
    margin-top: 15px;
}

form > input{
    border: none;
    padding: 5px;
    border-radius: 8px;
    background-color: #eee;
    margin-top: 4px;
    outline: none;
}

form > button{
    margin-top: 20px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

form > button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.5);
}


@media (min-width: 600px){
    main > form{
        width: 500px;
    }
}