<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <title>HOME</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Bienvenido</h1>
                <a href="/user/registro">registro</a>
                <a href="/user/login">Iniciar secion</a>
                
                <a href="/user/perfil">perfil</a>
                
            </div>
        </main>
  
    </body>
</html>