<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/user/login" method="POST">
            <h2 class="titulo">Iniciar sesión</h2>
            <a href="/">volver</a>
            <label for="">Email</label>
            <input type="email" name="email" required>
            <label for="">Contraseña</label>
            <input type="password" name="password" required>
            <button type="submit">login</button>
        </form>
    </main>
</body>
</html>