<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/registro.css">
    </head>
    <body>
        <main>
            <form action="/user/registro" method="POST" enctype="multipart/form-data">
                <a href="/">volver</a>
                <h1>registro</h1>
                <label>Nombre y apellido</label>
                <input type="text" name="nombre">
                <label>usuario</label>
                <input type="text" name="usuario"> 
                <% if(error==true) {%> 
                    <label>Ya existe este usuario</label>
                <% } %> 
                <label>Email</label>
                <input type="email" name="email">
                <% if(error==true) {%> 
                    <label>Ya existe este usuario</label>
                <% } %> 
                <label>Contraseña</label>
                <input type="password" name="password">
                <label>Ingrese img de perfil</label>
                <input type="file" name="img" required>
                <button class="buttom" type="submit">Enviar</button>
            </form>
        </main>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/alert.js"></script>
    </body>
    
</html>